.bg-color1{
    background-color: #062C30;
}
.bg-color2{
    background-color: #05595B;
}
.bg-color3{
    background-color: #E2D784;
}
.bg-color4{
    background-color: #e0e5ec;
}

.color1{
    background-color: #062C30;
}
.color2{
    background-color: #05595B;
}
.color3{
    background-color: #E2D784;
}
.color4{
    background-color: #e0e5ec;
}